
body {
    background-image: url("travel-background.svg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;

    margin: 0;

    font-family: Arial, sans-serif;
}
nav {
    padding: 20px;
}

nav a {
    text-decoration: none;

    color: white;
    background-color: black;

    font-size: 35px;

    padding: 10px;

    border-radius: 8px;

    transition: 0.4s;
}

nav a:hover {
    background-color: white;
    color: black;
}
#guide {
    color: white;

    text-align: center;

    padding: 30px;

    text-shadow: 2px 2px 5px black;
}
#guide h1 {
    font-size: 40px;

    margin-bottom: 10px;
}
.intro {
    font-size: 18px;

    margin-bottom: 40px;
}
.guide-container {
    display: grid;

    grid-template-columns: repeat(3, 280px);

    gap: 30px;

    justify-content: center;
}
.guide-card {
    background-color: rgba(0, 0, 0, 0.75);

    padding: 25px;

    border-radius: 15px;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);

    transition: 0.3s;
}
.guide-card:hover {
    transform: translateY(-10px);

    background-color: rgba(0, 0, 0, 0.9);
}
.icon {
    font-size: 50px;

    margin-bottom: 10px;
}
.guide-card h2 {
    font-size: 23px;
}
.guide-card p {
    font-size: 16px;

    line-height: 1.6;
}